.login_cont{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left_cont{
    width: 40%;
    height: 100%;
    background-color: #FFF56D;
    display: flex;
    align-items: center;
    justify-content: right;
}

.left_child_cont{
    height: 80%;
    width: 80%;
    box-shadow: 2px 2px 25px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left_child_cont > p{
    width: 60%;
    text-align: center;
}

.left_child_cont > img{
    width: 30%;
    height: auto;
}

.right_cont{
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
}

.right_child_cont{
    height: 80%;
    width: 80%;
    box-shadow: 2px 2px 25px #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right_child_cont > h3{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.form_element_cont{
    margin-bottom: 20px;
}

.form_element_cont > label{
    display: block;
    font-size: 16px;
}

.form_element_cont input{
    width: 250px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
}

.submitBtn{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF56D;
    border: 1px solid #FFF56D;
    cursor: pointer;
    transition: transform 0.5s;
    text-transform: uppercase;
    font-size: 12px;
}

.submitBtn:hover{
    transform: scale(1.05);
}

.password_cont{
    position: relative;
    width: fit-content;
}

.password_cont > svg{
    position: absolute;
    top: 15px;
    right: 8px;
    fill: #000;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: transform 0.2s;
}

.password_cont > svg:hover{
    transform: scale(1.1);
}

.register_link{
    color: #fff;
    text-decoration: underline;
    margin-bottom: 20px;
    display: block;
}

.errMsg{
    color: red;
    margin-bottom: 20px;
}

.floating_loader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
}