.row{
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

.nav_cont{
    width: 100%;
    /* background-color: #FFF56D; */
    background-color: transparent;
    height: 60px;
    position: fixed;
    z-index: 9999;
}

.navlink_cont{
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.navlink_cont > li{
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #3F3C29;
    transition: all 0.2s;
}

.navlink_cont > li:hover{
    color: #F0A500;
    border-bottom: 1px solid #F0A500;
}

.logoCont{
    width: 45px;
    height: auto;
    float: left;
}

.logoCont > img{
    width: 100%;
    height: 100%;
}

.logo_name_cont{
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
}

.profile_icon{
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.profile_icon:hover{
    transform: scale(1.05);
}

.profile_cont{
    position: relative;
}

.profile_dropdown{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #fff;
}