.row{
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

.nav_cont{
    width: 100%;
    /* background-color: #FFF56D; */
    background-color: transparent;
    height: 60px;
    position: fixed;
    z-index: 9999;
}

.navlink_cont{
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.navlink_cont > li{
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #1B1A17;
    transition: all 0.2s;
}

.navlink_cont > li:hover{
    color: #F0A500;
    border-bottom: 1px solid #F0A500;
}

.logoCont{
    width: 45px;
    height: auto;
    float: left;
}

.logoCont > img{
    width: 100%;
    height: 100%;
}

.logo_name_cont{
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
}

.profile_icon{
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.profile_icon:hover{
    transform: scale(1.05);
}

.profile_cont{
    position: relative;
}

.profile_dropdown{
    position: absolute;
    top: 50px;
    left: -67px;
    width: 100px;
    background: #1B1A17;
    border-radius: 5px;
    border: 1px solid #F0A500;
}

.profile_dropdown > p{
    font-size: 15px;
    font-weight: 300;
    padding: 8px;
    text-align: left;
    color: #fff;
    transition: background 0.2s;
}

.profile_dropdown > p:hover{
    background: #F0A500;
}

.horizontal{
    width: 100%;
    height: 1px;
    background: #F0A500;
}

.dropdown_links{
    color: #fff;
    text-decoration: none;
}